*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wrapper{
    font-family:'raleway';
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background: #fafafa;

}
.wrapper h1{
    font-size:3em;
    margin:25px 0;
    text-align:center;
    font-weight:500;


}
.content-box{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /* width:100px; */
    margin-top:30px;
    
}
.card{
    min-height:220px;
    width:320px;
    padding: 30px;
    border-radius: 5px;

    background:#fff;
    margin:10 px 4px;
    box-shadow: 0px 15px 25px rgpa(0,0,0,0.2);


}
.card h2{
    margin-bottom:12px;
    font-weight:400;
    text-align:center;
}

.card p{
    color:#6c757d;
    text-align:center;


}
.card:hover p{
    color: #fff;
}

    .card:hover h2{
        font-weight: 600;

    }

.card:nth-child(1):hover{
    background: linear-gradient(45deg, rgba(255,28.8,0.8)0%,rgba(255,0,82,0.8)100%);

}
.card:nth-child(2):hover{
    background: linear-gradient(45deg, rgba(255,28.8,0.8)0%,rgba(235, 127, 161, 0.8)100%);

}
.card:nth-child(3):hover{
    background: linear-gradient(45deg, rgba(255,28.8,0.8)0%,rgba(207, 189, 83, 0.8)100%);

}